.container{
     display: flex;
     justify-content: space-around; 
     align-items: center; 
     position: absolute;
     z-index: 1;    
     top: 2rem; 
     width: 80%; 
     margin-right: 10%;
     margin-left: 10%;
     color: white;
}
.firstCol{
     width: 25%;
}
.middleCol{
    display: flex;
    width: 41%;
    justify-content: space-between;
    font-size: .9rem;
}
.lastCol{
     display: flex;
     width: 14%;
     justify-content: center;
     align-items: center;
     background-color: #FFAC12;
     padding:  .7rem 0;
     border-top-right-radius: 1rem;
}
.lastCol_span{
     margin-right: .5rem;
     color: black;
}